.pad-toggle, .pad-close, .pad-lock, .pad-security, .pad-saveable {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    z-index: 210;
}

.pad-form label {
    min-width: 200px;
    display: inline-block;
}

.pad-form input, .pad-form select {
    display: inline;
}

.etherpad {
    position: static;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.pad-toolbar {
    min-height: 20px;
    border-bottom: thin solid black;
    padding-left: 20px;
}

.pad-resizable {
    position: relative;
    border: thin solid black;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 10px rgb(85, 85, 85);
    height: 600px;
}

.pad-iframecontainer {
    width: 100%;
    position: absolute;
    top: 20px;
    bottom: 0px;
}

.pad-iframe {
    width: 100%;
    height: 100%;
    border: hidden;
}
