.pad-toggle, .pad-close, .pad-lock, .pad-security, .pad-saveable {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    z-index: 210;
}

.pad-form label {
    min-width: 200px;
    display: inline-block;
}

.pad-form input, .pad-form select {
    display: inline;
}

.etherpad {
    position: static;
	  top: 10px;
    left: 10px;
    right: 10px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    z-index: 200;
    min-height: 100px;
    border: thin solid black;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 10px rgb(85, 85, 85);
}

.etherpad div {
    min-height: 20px;
    border-bottom: thin solid black;
    padding-left: 20px;
}

.etherpad iframe {
    width: 100%;
    height: 100%;
    min-height: 600px;
    border: hidden;
}
